.container {
  width: 550px;
  max-width: 100%;
  text-align: center;
  margin: auto;
}

.container form {
  margin: 0;
}

.input-container {
  padding: 10px;
  display: flex;
  border: 1px solid lightgrey;
  margin: 0;
  align-items: center;
}
.input-container input {
  border: none;
  width: 100%;
  /* height: 100%; */
  outline: none;
  font-size: 24px;
  margin-left: 10px;

  /* padding: 10px; */
}

.input-container label {
  width: 100%;
  word-break: break-all;
  font-size: 24px;
  margin-left: 10px;
  text-align: left;
}

.input-container i {
  padding: 10px;
  opacity: 0.5;
  min-width: 5%;
}

.input-container .destroy {
  opacity: 0;
  /* position: absolute; */
  color: #cc9a9a;
  /* margin-bottom: 11px; */
  transition: color 0.2s ease-out;
}

.input-container .destroy:hover {
  color: #af5b5e;
}

.input-container:hover .destroy {
  opacity: 1;
}

.input-completed {
  text-decoration: line-through;
  color: #d9d9d9;
}

.input-container.edit {
  padding: 10px;
  display: flex;
  border: 2px solid black;
  margin: 0;
  align-items: center;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}

.input-container.edit input {
  text-decoration: none;
  color: initial;
  /* color: #d9d9d9; */
}

.input-container.edit i {
  /* display: none; */
  padding: 10px;
  /* font-size: 20px; */
  opacity: 0;
  min-width: 5%;
  pointer-events: none;
}

.input-container.edit .destroy {
  pointer-events: none;
  opacity: 0;
  /* position: absolute; */
  /* margin-bottom: 11px; */
  /* transition: color 0.2s ease-out; */
}

.input-container .searchIconToggle {
  opacity: 1;
}

.input-container .searchIconInvis {
  opacity: 0;
}
