.container {
  width: 550px;
  max-width: 100%;
  text-align: center;
  margin: auto;
  font-family: "Lucida Sans Unicode";
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
