.addtodo-input-container {
  padding: 10px;
  display: flex;
  border: 1px solid lightgrey;
  margin: 0;
  margin-top: 25px;
  align-items: center;
}

.addtodo-input-container input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 24px;
  margin-left: 10px;
  font-family: "Lucida Sans Unicode";
  text-align: left;
  word-break: break-all;
  transition: color 0.4s;
}
